
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}

.container {
    background-color: pink;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

h2 {
    padding: 20px 10px;
}

.input-container {
    border: solid 2px black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    cursor: text;
}

.input-container i {
    cursor: pointer;
    opacity: 0.3;
}

#icon:hover {
    opacity: 0.7;
}

.btn {
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 20px;
    cursor: pointer;
}

#password-display {
    position: fixed;
    bottom: 20px;
    right: -300px;
    background-color: lightgreen;
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: right 0.4s ease-in-out;
    z-index: 1000;
}

#password-display.active {
    right: 20px;
}
